@import "tailwindcss";

@theme {
  --color-mitec-blue: #35398e;
}

html {
  scroll-behavior: smooth;
}

@keyframes nebula {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-nebula {
  background-size: 200% 200%;
  animation: nebula 15s ease infinite;
}