@import "tailwindcss";

@theme {
  --color-mitec-blue: #35398e;
  --color-space-dark: #0a0c1a;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-space-dark);
  color: #cbd5e1;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}